
<div id="div" class="blue" style={{color}}>
    <div  align="center">
        <button style="width: 7px;height: 10px; background: darkred; border: 0px" ng-click="colorRed()"></button>
        <button style="width: 7px;height: 10px; background: cornflowerblue; border: 0px" ng-click="colorBlue()"></button>
        <button style="width: 7px;height: 10px; background: black; border: 0px" ng-click="colorBlack()"></button>
        <button type="button" style="color:white;" class="blue" ng-click="newAdd()">+</button>
        <input style="align-self: center;color:cornflowerblue" type="text" ng-model="search">
        <button type="button" style="color:white; width:auto" class="blue" ng-click="deleteChecked()">Del</button>


        <div class="form-group" ng-form="addForm" ng-show='var'>

            <H3 style="color: white;">Adaugare produs</H3>
            <input style="color:cornflowerblue" type="text" name="prodName" id="prodName" placeholder="Nume Produs" ng-model="prod.name"
                   required><br>
            <input style="color:cornflowerblue type="text" name="prodDesc" id="prodAman" placeholder="Amanunte" ng-model="prod.description"><br>
            <button type="button" class="btn btn-default" ng-disabled="addForm.$invalid"
                    ng-click="addProd(prod.name,prod.description)">Adauga
            </button>

            <div class="error" ng-show="addForm.name.$dirty && addForm.name.$invalid">
                <span class="error" style="color:red" ng-show="addForm.name.$error.required">Name Required!</span>
            </div>


        </div>
    </div>
    <table class="table">
        <tr >
           <shop-list></shop-list>
        </tr>

        <tr  ng-repeat="prod in products |startsWith:search" class={{prod.status}} >
            <td >
                <input type="checkbox" ng-model="check" ng-change="checkProd(prod)">
            </td>
            <td style="width:150px;color: white" ng-show="prod.varEdit">
                {{prod.name}}
            </td>
            <td ng-hide="prod.varEdit"><input placeholder="Denumire" style="width:70px;color:cornflowerblue" type="text" ng-model="prod.name"></td>
            <td style="width:140px; color: white" ng-show="prod.varEdit">
                {{prod.description}}
            </td>
            <td ng-hide="prod.varEdit"><input placeholder="Amanunte" style="width:70px; color:cornflowerblue"type="text" ng-model="prod.description"></td>
            <td style="width:60px" ng-show="prod.varEdit">
                <button type="button" style="width:auto; color:white" class="blue" ng-click="editShow(prod)">Edit</button>
            </td>
            <td style="width:60px" ng-hide="prod.varEdit">
                <button type="button" class="blue" style="width:auto; color:white" ng-click="editProd(prod,prod.name,prod.description)">Save</button>
            </td>
        </tr>
    </table>


</div>